.container{
    background-color: rgb(60, 60, 51);
    padding: 10px;
    font-size:1.5rem;

}
.box1{
    background-color: rgb(244, 49, 49);
}

.box2{
    background-color: rgb(100, 233, 73);
}

.box3{
    background-color: blue;
}

@media only screen and (max-width: 700px){
    .box1{
        background-color:aliceblue;
        font-size:2rem;

    }
}